<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>Create Vehicle</title>
</head>

<body>
	<form method="POST" action="/vehicles">
		Item ID:
		<input type="textbox" class="input" name="title" value="" size="20">
		<br/> Make:
		<input type="textbox" class="input" name="make" value="" size="20">
		<br/> Model:
		<input type="textbox" class="input" name="model" value="" size="20">
		<br/> Year:
		<input type="textbox" class="input" name="year" value="" size="20">
		<br/>
		<input type="submit" />
	</form>
</body>

</html>