<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>Create Note</title>
</head>

<body>
	<form method="POST" action="/notes">
		Title:
		<input type="textbox" class="input" name="subject" value="" size="20">
		<br/> Body:
		<input type="textbox" class="input" name="body" value="" size="20">
		<br/>
		<input type="submit" />
	</form>
	<p><a href="../notes">Back</a></p>
</body>

</html>