<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>List Notes</title>
</head>

<body>
	<ul>
		<li>
			<%= note.subject %> -
				<%= note.body %>
		</li>
		<p><a href="../notes">Back</a></p>
	</ul>
</body>

</html>