<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>List Vehicles</title>
</head>

<body>
	<ul>
		<li>
			<%= vehicle.title %> -
				<%= vehicle.make %> -
					<%= vehicle.model %> -
						<%= vehicle.year %>
		</li>
	</ul>
</body>

</html>