<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
</head>
<body>
	<!--
	<script>
		window.fbAsyncInit = function() {
		FB.init({
			appId      : '384942741978438',
			cookie     : true,
			xfbml      : true,
			version    : '2.12'
		});

		FB.AppEvents.logPageView();   

		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	
	<div id="fb-root"></div>
	<script>
	FB.getLoginStatus(function(response) {
		if (response.status === 'connected') {
			console.log('Logged in.');
		}
		else {
			</script>
			<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
			<script>
		}
	});
	</script> 
	-->
	
	

	<!-- Use the 'title' property to render a title element  -->
	<!-- <button onclick="location.href = 'localhost:3000/notes';" id="myButton" class="float-left submit-button" ><%= title%></button> -->
	<p><a href="notes">Click me to go to the project!!</a></p>
	
	
	<% if ( userFullName ) { %>
		<p><h2>Hello <%=userFullName%> </h2></p>
		<p><a href="/signout">Sign out</a></p>
	<% } else { %>
		<p><a href="/signup">Signup</a></p>
		<p><a href="/signin">Signin</a></p>
	<% } %>
	
	<!--
	<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
	-->
	
	
	
	<p><a href="/oauth/facebook">Sign in with Facebook</a></p>
	
</body>
</html>