<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>List Vehicles</title>
</head>

<body>
	<ul>
		<% vehiclesArray.forEach(function(vehicle) { %>
			<a href="http://localhost:3000/vehicles/<%= vehicle.id%>"><%= vehicle.title %></a>
			<% }); %>
	</ul>
</body>

</html>