<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>List Notes</title>
</head>

<body>
	<ul>
		<% notesArray.forEach(function(note) { %>
			<a href="/notes/<%= note.id%>"><%= note.subject %></a>
			<% }); %>
			
		<p><a href="create">Create a note<a></p>
	</ul>
</body>

</html>